In [5]:
import numpy as np
import pandas as pd

In [6]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [8]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
# adding the 2 dataset
movies = movies.merge(credits,on='title')

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
# things to be kept
# genres
# id
# keywords
# title
# overview
# cast
# crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
# preprocessing the data
# removing the missing values
# mering all the columns to upto 3 columns

In [14]:
# Converting this into this
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# ['Action','Adventure','Fantasy','SciFi']

In [15]:
import ast

In [16]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [17]:
movies.dropna(inplace=True)

In [18]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [21]:
movies['cast'] = movies['cast'].apply(convert3)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [26]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [27]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [29]:
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movies['tags'] = movies['overview'] + movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
new_df = movies[['movie_id', 'title', 'tags']]

In [34]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [35]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\sahil\AppData\Local\Temp\ipykernel_4132\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [36]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [37]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [38]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\sahil\AppData\Local\Temp\ipykernel_4132\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [39]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [40]:
import nltk

In [41]:
pip install nltk

Requirement already satisfied: nltk in c:\users\sahil\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\sahil\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\sahil\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sahil\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\sahil\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\sahil\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [42]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [43]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [44]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\sahil\AppData\Local\Temp\ipykernel_4132\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [45]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [46]:
new_df['tags'][1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley goreverbinski"

In [47]:
# converting text to vectors that is known as text vectorization and using bag of words for the same.

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [49]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [50]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [51]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [52]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity = cosine_similarity(vectors)

In [55]:
sorted(list(enumerate(similarity[0])),reverse = True, key = lambda x:x[1])[1:6]

[(1214, 0.2509213492579068),
 (3606, 0.2316895914836506),
 (778, 0.2186269616733748),
 (507, 0.21171241278149036),
 (529, 0.21046336109708177)]

In [56]:
sorted(similarity[0],reverse=True)

[1.0000000000000004,
 0.2509213492579068,
 0.2316895914836506,
 0.2186269616733748,
 0.21171241278149036,
 0.21046336109708177,
 0.20580798748066942,
 0.19600464849672705,
 0.19420628650529584,
 0.19142393847432462,
 0.1910750508671709,
 0.184080260127681,
 0.18152129832381234,
 0.1800280065350276,
 0.17938785371234064,
 0.17924428597928832,
 0.17883194523074064,
 0.17399697105868403,
 0.1714229740350895,
 0.16867469879518074,
 0.16558005202526055,
 0.16351478626598823,
 0.1628067077745433,
 0.16152188608592355,
 0.1613465284334358,
 0.1601076285016887,
 0.1538124489155607,
 0.15332960927315786,
 0.14796630604228256,
 0.14751965358138244,
 0.14565471487897189,
 0.14538631400564483,
 0.14258795636800753,
 0.14170505031628394,
 0.14170505031628391,
 0.14131628401360463,
 0.13970709462713993,
 0.1384990654206167,
 0.1363600428443322,
 0.13585582779988875,
 0.13543871252219192,
 0.1351389054984827,
 0.1348327197173161,
 0.13477747424016345,
 0.13443321448446624,
 0.13364474308264065,
 0.13313931320491257,
 0.13310871701625052,
 0.13275062984735564,
 0.13262202903561904,
 0.1325301204819277,
 0.13214064077187038,
 0.13019803008642683,
 0.12969543868489927,
 0.12935842095105549,
 0.12888415477658116,
 0.12846934910327693,
 0.12798487117849255,
 0.1271215072505858,
 0.12674485010489558,
 0.12612446042727907,
 0.1254448685596461,
 0.12520225895885445,
 0.12356778212461365,
 0.12349444086849906,
 0.12196028887743371,
 0.12073452622098511,
 0.11999608182456264,
 0.11979784531462546,
 0.1197428290796622,
 0.11925107000365899,
 0.11896933297026732,
 0.11891338827471544,
 0.11855895115763464,
 0.11840487838148604,
 0.11783084426418863,
 0.11767963901214165,
 0.11717224905430867,
 0.1168991011704169,
 0.11672442685764152,
 0.11672442685764152,
 0.11642257885594995,
 0.1163498828895387,
 0.11616357391030313,
 0.11536088808075046,
 0.11506420936119474,
 0.1144371517807935,
 0.11432071578139044,
 0.11336404025302717,
 0.11336404025302714,
 0.1129464917246783,
 0.1124309870177853,
 0.1124309870177853,
 0.11243098701778528,
 0.11212505179215015,
 0.11177845111190415,
 0.11162480368379689,
 0.11152059967018083,
 0.11152059967018083,
 0.11107362152009972,
 0.11092581889771509,
 0.11092581889771509,
 0.11063197515266962,
 0.11014738248086346,
 0.10976425998969036,
 0.10976425998969036,
 0.10976425998969035,
 0.10976425998969033,
 0.10903973550423363,
 0.10880139699956368,
 0.10799375260823951,
 0.10759049504114514,
 0.10715045027260288,
 0.10683668546936441,
 0.1068366854693644,
 0.10672069728462076,
 0.10661247392009333,
 0.10611311532512865,
 0.10591167511092749,
 0.10471489460058483,
 0.10434784943073593,
 0.10430406630863658,
 0.10430406630863656,
 0.10316880440654401,
 0.1025416326103738,
 0.10207868833811344,
 0.10207868833811344,
 0.10207868833811344,
 0.10192395570471245,
 0.10147709425799717,
 0.10147709425799717,
 0.10139588008391645,
 0.10132697359951637,
 0.10104619169890143,
 0.10104619169890143,
 0.1008249108633497,
 0.10072659303317578,
 0.10062073215996296,
 0.10061723832388281,
 0.10045719807891076,
 0.10030384840433548,
 0.10015122994095467,
 0.10014266583449905,
 0.09958523936813224,
 0.09956877763740268,
 0.09942684060496232,
 0.09928550884822428,
 0.09892642807388932,
 0.0985712153359689,
 0.0983298994221423,
 0.0981761387347632,
 0.09800232424836354,
 0.09778577480814292,
 0.09758052471140823,
 0.09758052471140823,
 0.09756823110194697,
 0.09740003060309443,
 0.09733854515749146,
 0.09664204219008427,
 0.09642335727361082,
 0.09638554216867469,
 0.09626962445725962,
 0.09581010095306071,
 0.09555466067279302,
 0.09553752543358544,
 0.09550180379261579,
 0.09524484468675812,
 0.09521746582239371,
 0.09486284203077401,
 0.09482187846239688,
 0.09414371120971332,
 0.09408365141973457,
 0.09408365141973457,
 0.09388545517808797,
 0.09386887057185046,
 0.0932996209912368,
 0.09313806308475994,
 0.0931008301977695,
 0.09307990631163096,
 0.09293177697748599,
 0.09276773134741387,
 0.09256135126674978,
 0.09252328367259738,
 0.09178948540071956,
 0.09178948540071956,
 0.09118634733669015,
 0.09118634733669015,
 0.0909780769248734,
 0.09061048723202192,
 0.09055865894396667,
 0.09055089466573885,
 0.09055089466573885,
 0.0904989702995988,
 0.0902256659231352,
 0.0902256659231352,
 0.08962214298964417,
 0.08943830250274426,
 0.08931885229584927,
 0.08921008497716887,
 0.08873914467750034,
 0.08871409380237201,
 0.08865597535296985,
 0.08829433413369964,
 0.08800719732732862,
 0.08800719732732862,
 0.08788174152965354,
 0.08781140799175227,
 0.08781140799175227,
 0.08759450010676302,
 0.08756158840163479,
 0.08737561667649617,
 0.08737561667649617,
 0.08732375657695679,
 0.08732375657695679,
 0.08731693414196244,
 0.0872317884033869,
 0.08713708444711571,
 0.08694624986835583,
 0.08694624986835582,
 0.08677626681257791,
 0.0867762668125779,
 0.08644610860794934,
 0.08597400367212,
 0.08590412139291778,
 0.08590412139291778,
 0.08571148701754475,
 0.08569515946486446,
 0.08565991572104817,
 0.08502303018977035,
 0.08502303018977035,
 0.08485004317396407,
 0.08482250389598646,
 0.08468496511259617,
 0.08453538896089975,
 0.08449656673659706,
 0.084108074716779,
 0.08380959138090212,
 0.08372489242911722,
 0.08372489242911722,
 0.08369446361022048,
 0.08349095821267248,
 0.0834522215287492,
 0.08345222152874919,
 0.08297398136450222,
 0.08297398136450222,
 0.08297398136450222,
 0.08297398136450222,
 0.08292504359476914,
 0.0827379240401869,
 0.08260602397998755,
 0.08232319499226776,
 0.08224291882008655,
 0.08211090421156764,
 0.08184503105410654,
 0.081813448945636,
 0.08153084551415757,
 0.08147883221029002,
 0.08144491802267709,
 0.08136268271116942,
 0.08122025068793148,
 0.08099118235840605,
 0.08093014696413478,
 0.08091928604387327,
 0.08054494655283632,
 0.08045903191872897,
 0.08026757648518149,
 0.08026757648518149,
 0.08026757648518149,
 0.08016048160562023,
 0.0801275141020233,
 0.08005381425084435,
 0.07986523020975031,
 0.07986523020975031,
 0.07986523020975031,
 0.07984175079421726,
 0.0798285527197748,
 0.07960550519605027,
 0.0792843844631222,
 0.07921553131555974,
 0.07917688016355612,
 0.07901004320985384,
 0.07885697226877512,
 0.07871603029325785,
 0.07834384839600232,
 0.07822861984651433,
 0.07810065721979575,
 0.07792002448247555,
 0.07792002448247555,
 0.07792002448247555,
 0.07777591295577688,
 0.0776150525706333,
 0.07761505257063328,
 0.077376603304908,
 0.0770156995658077,
 0.07690622445778035,
 0.07685035360081795,
 0.07685035360081795,
 0.07685035360081795,
 0.07685035360081795,
 0.07655901625358508,
 0.07655901625358508,
 0.07645366459193415,
 0.07645366459193415,
 0.07643002034686835,
 0.07610782069349788,
 0.07610782069349788,
 0.07610782069349788,
 0.07607796863481135,
 0.07604691006293733,
 0.07599064153132408,
 0.07585750276991751,
 0.07585750276991751,
 0.07579468081067782,
 0.07576680999494945,
 0.07557602683535143,
 0.07554494477488184,
 0.07552142883819542,
 0.07532501724919845,
 0.07532501724919843,
 0.07505279005854411,
 0.07473660838797778,
 0.0746851191580368,
 0.0746851191580368,
 0.07462873174406533,
 0.07448066415821561,
 0.07448066415821561,
 0.07400304898842879,
 0.07400304898842879,
 0.07395054593181007,
 0.07393449589452243,
 0.07383749386161763,
 0.07368969663246341,
 0.07368969663246341,
 0.07366894773816714,
 0.0736321040510724,
 0.07363210405107239,
 0.07343158832057566,
 0.07325928087547756,
 0.07322641444005247,
 0.07317617332646023,
 0.07317617332646023,
 0.07317617332646022,
 0.07304946124294898,
 0.07302606819747036,
 0.0730140996538847,
 0.07292853751194948,
 0.07292340513307605,
 0.07292340513307605,
 0.07272860843482634,
 0.07272860843482634,
 0.07272860843482634,
 0.07263026003495399,
 0.07206376717366703,
 0.07206376717366703,
 0.07206376717366703,
 0.07206376717366703,
 0.07206376717366703,
 0.07206376717366703,
 0.07204843282575991,
 0.07196255396757574,
 0.07185757571479554,
 0.07148036798752945,
 0.07148036798752945,
 0.07145991037213356,
 0.07145044736336903,
 0.07145044736336903,
 0.0714336335150686,
 0.0714336335150686,
 0.07133948982488787,
 0.07122445697957627,
 0.07122445697957627,
 0.07101710731986917,
 0.07099131574200028,
 0.07099131574200028,
 0.07092553138581309,
 0.07085252515814196,
 0.07081795451682646,
 0.07070537541434262,
 0.07030539322372283,
 0.07020545658013636,
 0.07020545658013634,
 0.07020545658013634,
 0.07020545658013634,
 0.07002883879950596,
 0.07002883879950596,
 0.06985900526156544,
 0.06970037479386303,
 0.06970037479386301,
 0.06970037479386301,
 0.06970037479386301,
 0.06956312416880109,
 0.06956312416880107,
 0.06956312416880107,
 0.06950687744509518,
 0.06942101345006232,
 0.06942101345006232,
 0.0693354668821994,
 0.06927977014311161,
 0.06920508442480729,
 0.06914498447041852,
 0.06914498447041852,
 0.06903852561671685,
 0.06903852561671685,
 0.06903852561671685,
 0.06899115784056292,
 0.06872329711433424,
 0.06872329711433424,
 0.06872329711433423,
 0.06872329711433423,
 0.06866229106847609,
 0.06860266249355647,
 0.06860266249355647,
 0.06860266249355647,
 0.0685691896140358,
 0.06849703862414809,
 0.06836108840691586,
 0.0681800214221661,
 0.06807290427601058,
 0.06807290427601058,
 0.06807290427601058,
 0.06774797209007694,
 0.06774797209007694,
 0.06774797209007694,
 0.06774797209007694,
 0.06774797209007694,
 0.06756945274924135,
 0.06756945274924135,
 0.0675552320918705,
 0.0675552320918705,
 0.06754723691673252,
 0.06742764891455903,
 0.06737274359022077,
 0.06734827555106618,
 0.06734827555106618,
 0.06721660724223313,
 0.06704919326560747,
 0.06704919326560747,
 0.06695557088817639,
 0.06695557088817639,
 0.06695557088817639,
 0.0668762678035098,
 0.06686923226955699,
 0.06686923226955699,
 0.06686923226955699,
 0.06680040133801686,
 0.06655435850812526,
 0.06655435850812526,
 0.06655435850812526,
 0.06655435850812526,
 0.06643235224877723,
 0.06637918509160179,
 0.06637531492367782,
 0.06619033923214952,
 0.06619033923214952,
 0.06619033923214952,
 0.06619033923214952,
 0.06612902348093251,
 0.0661290234809325,
 0.06600539799549647,
 0.06588545350606234,
 0.06585855599381421,
 0.06585855599381421,
 0.06581743294516276,
 0.06571268968849622,
 0.06563332787699346,
 0.06563332787699346,
 0.0654507591565088,
 0.0654507591565088,
 0.0654507591565088,
 0.0654507591565088,
 0.0654507591565088,
 0.06520968740126687,
 0.06520968740126687,
 0.06520968740126687,
 0.06513310524049297,
 0.06509901504321342,
 0.06509014616893553,
 0.06493741194318971,
 0.06473542883509861,
 0.06473542883509861,
 0.06473542883509861,
 0.06457962733644264,
 0.06456023114218132,
 0.0643864482397674,
 0.06427136959864835,
 0.06425263978050369,
 0.06423467455163846,
 0.06404305140067548,
 0.06404305140067548,
 0.06403464183443862,
 0.063967484352056,
 0.0639072229309055,
 0.06380797949144154,
 0.0637991802113209,
 0.0637991802113209,
 0.06366786919507719,
 0.06366786919507719,
 0.06358908354788431,
 0.06354772946771546,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244779,
 0.06337242505244778,
 0.06337242505244778,
 0.06337242505244778,
 0.06315796614619464,
 0.06308105603758425,
 0.06288305537323893,
 0.06288305537323893,
 0.06279366932183791,
 0.06279366932183791,
 0.06273550009275092,
 0.06273550009275092,
 0.06272243427982305,
 0.06272243427982305,
 0.06272243427982305,
 0.06254399171545343,
 0.06252742157561686,
 0.06252742157561686,
 0.06251017501024242,
 0.06224785671067196,
 0.06223048602337667,
 0.06223048602337667,
 0.06214177537810144,
 0.06214177537810144,
 0.06214177537810144,
 0.062092042056506626,
 0.062092042056506626,
 0.061954517984990666,
 0.06193739164935315,
 0.06191539293026131,
 0.06191539293026131,
 0.06178389106230683,
 0.06174722043424953,
 0.06171534267247894,
 0.06171534267247894,
 0.06171534267247894,
 0.061682189115064914,
 0.061682189115064914,
 0.06163422100055797,
 0.061517219070757474,
 0.06150261904229252,
 0.06148028288065436,
 0.06148028288065436,
 0.06148028288065436,
 0.06148028288065436,
 0.06141342012799569,
 0.06136008670922699,
 0.06136008670922699,
 0.06136008670922699,
 0.061320991396746224,
 0.06118110697928462,
 0.061148134135618176,
 0.06095141040602957,
 0.0608862565547983,
 0.0608862565547983,
 0.06074338676880454,
 0.06062771501934086,
 0.060627715019340854,
 0.06060717369568862,
 0.06060717369568862,
 0.06045186629953348,
 0.06030912261437756,
 0.060309122614377556,
 0.06024096385542168,
 0.06024096385542168,
 0.06024096385542168,
 0.06016738535000775,
 0.06012036120421517,
 0.060026642735382905,
 0.05999804091228132,
 0.05988131309566295,
 0.05974809532642944,
 0.05974809532642944,
 0.05974809532642944,
 0.05963551166633533,
 0.05963551166633533,
 0.05963551166633533,
 0.05952802792922383,
 0.05952802792922383,
 0.05952802792922383,
 0.05952802792922383,
 0.05952802792922383,
 0.05952802792922383,
 0.05952802792922383,
 0.05938266012266709,
 0.05933745062991435,
 0.05927947557881732,
 0.05920243919074303,
 0.05920243919074303,
 0.05920243919074303,
 0.05920243919074302,
 0.05918092276655764,
 0.05918092276655764,
 0.05914272920158134,
 0.05910383230214096,
 0.0589297411071829,
 0.05890568324085791,
 0.058839819506070826,
 0.058671464884885755,
 0.058671464884885755,
 0.05867146488488575,
 0.058586124527154344,
 0.05850454715011362,
 0.05850454715011362,
 0.05844001836185666,
 0.05841655507012444,
 0.058414470811625145,
 0.058411279723107765,
 0.058174941444769354,
 0.05817494144476935,
 0.05815452560225794,
 0.058081786955151565,
 0.057850844541718606,
 0.057850844541718606,
 0.057761774674355774,
 0.05776177467435577,
 0.05765101373893362,
 0.05759025382701743,
 0.05754088753763359,
 0.05754088753763359,
 0.05753210468059737,
 0.05753210468059737,
 0.05752716609054744,
 0.057419262190188815,
 0.05741926219018881,
 0.057322515260151266,
 0.057322515260151266,
 0.0572694142619452,
 0.0572694142619452,
 0.05721857589039675,
 0.05721857589039675,
 0.05721857589039675,
 0.05721857589039675,
 0.05716035789069522,
 0.05716035789069522,
 0.05710661048069879,
 0.05710661048069879,
 0.05695387789781859,
 0.056910117708570206,
 0.056910117708570206,
 0.05689312707743813,
 0.05684601060800836,
 0.05668202012651358,
 0.05668202012651357,
 0.05668202012651357,
 0.05660659491662032,
 0.05660659491662031,
 0.05647324586233915,
 0.05647324586233915,
 0.05633814220979647,
 0.05630787729103447,
 0.05630787729103446,
 0.05630787729103446,
 0.05630787729103446,
 0.05630787729103446,
 0.056100650705578965,
 0.05606252589607507,
 0.056013839368527614,
 0.05601383936852761,
 0.05601383936852761,
 0.05601383936852761,
 0.05601383936852761,
 0.05598650887684516,
 0.0558604981186617,
 0.05576029983509042,
 0.05576029983509041,
 0.05576029983509041,
 0.05576029983509041,
 0.05574195461339465,
 0.05572436022463082,
 0.05572436022463082,
 0.05572436022463082,
 0.05566063880844833,
 0.05566063880844832,
 0.055462909448857546,
 0.055462909448857546,
 0.055462909448857546,
 0.055462909448857546,
 0.05545087192089182,
 0.05543932326473806,
 0.05543932326473806,
 0.05531598757633482,
 0.05531598757633482,
 0.05531598757633482,
 0.05526727247434757,
 0.05526727247434756,
 0.055158616026791264,
 0.05507369124043174,
 0.05507369124043173,
 0.05502267345158407,
 0.054989636718823905,
 0.05488212999484517,
 0.05488212999484517,
 0.05488212999484517,
 0.05488212999484517,
 0.05488212999484517,
 0.05488212999484517,
 0.05488212999484517,
 0.0547752513539883,
 0.05474265802859965,
 0.054692553849807035,
 0.05460976042281011,
 0.05460976042281011,
 0.05450492875532941,
 0.05445832342080847,
 0.05445832342080847,
 0.05445832342080847,
 0.05445832342080847,
 0.05445832342080847,
 0.05434140616772239,
 0.05434140616772239,
 0.05434140616772239,
 0.05431922147352668,
 0.05413539955388112,
 0.054076969531939696,
 0.054076969531939696,
 0.054076969531939696,
 0.054060904679518476,
 0.054044185673496406,
 0.054044185673496406,
 0.054044185673496406,
 0.0538163561137022,
 0.05379524752057257,
 0.05363935461248598,
 0.05363935461248598,
 0.05363935461248598,
 0.05363935461248598,
 0.05363935461248598,
 0.053496611410702055,
 0.053440321070413487,
 0.053243486806500206,
 0.053243486806500206,
 0.05305655766256433,
 0.05289886514783909,
 0.05289886514783909,
 0.05285625630874815,
 0.05281035421037316,
 0.05277048228758037,
 0.05272904491779212,
 0.05272904491779212,
 0.05272904491779212,
 0.05272904491779212,
 0.052627934479756985,
 0.05257131484585007,
 0.052567546697986876,
 0.052567546697986876,
 0.052567546697986876,
 0.05256084976863962,
 0.05247735352883857,
 0.05247735352883857,
 0.05247735352883856,
 0.052401022792393934,
 0.05239425394617408,
 0.05239425394617407,
 0.05239425394617407,
 0.052383894231995465,
 0.052328057768198266,
 0.052328057768198266,
 0.052328057768198266,
 0.052290932500830146,
 0.05227958341062576,
 0.05222923226400154,
 0.05210648419239437,
 0.05210648419239437,
 0.05210648419239437,
 0.052091812508535354,
 0.052091812508535354,
 0.05206576008754675,
 0.05206576008754675,
 0.05190381331860547,
 0.05190381331860547,
 0.05190381331860547,
 0.05190381331860547,
 0.05185873835281389,
 0.0517433683804222,
 0.0517433683804222,
 0.05167224344181215,
 0.05162876498749222,
 0.05162876498749222,
 0.05162876498749222,
 0.05162876498749222,
 0.05162876498749222,
 0.051584402203272005,
 0.05142689221052685,
 0.05138773964131077,
 0.05138773964131077,
 0.05138773964131077,
 0.05138773964131077,
 0.05117785010666307,
 0.05117785010666307,
 0.05103934416905672,
 0.05099716869497431,
 0.050962880689163756,
 0.05095677844634848,
 0.05095677844634848,
 0.05095334689791223,
 0.05094593542495828,
 0.05086778286290096,
 0.0508109790675577,
 0.0508109790675577,
 0.050738547128998585,
 0.050697940041958225,
 0.050697940041958225,
 0.050697940041958225,
 0.050697940041958225,
 0.05069794004195822,
 0.05069794004195822,
 0.050523095849450715,
 0.05052309584945071,
 0.0503632965165879,
 0.05010030100351264,
 0.05010030100351264,
 0.05007133291724952,
 0.05007133291724952,
 0.04989284544985925,
 0.049835014429663586,
 0.049804721426785596,
 0.04978438881870134,
 0.04978438881870134,
 0.04971342030248115,
 0.04971342030248115,
 0.04971342030248115,
 0.04971342030248115,
 0.04959676761069937,
 0.04950232202275235,
 0.049485550102222574,
 0.049485550102222574,
 0.049485550102222574,
 0.049485550102222574,
 0.04939777634739963,
 0.04939777634739963,
 0.04939777634739963,
 0.049391397090403,
 0.04936307470887208,
 0.049289663929681614,
 0.04928560766798445,
 0.0490880693673816,
 0.049088069367381595,
 0.049088069367381595,
 0.049088069367381595,
 0.049088069367381595,
 0.049088069367381595,
 0.049088069367381595,
 0.04898819526723952,
 0.04895227915049333,
 0.04889288740407146,
 0.04884744012727139,
 0.04881760962670165,
 0.048784115550973485,
 0.048784115550973485,
 0.048784115550973485,
 0.048784115550973485,
 0.048784115550973485,
 0.048784115550973485,
 0.04870001530154722,
 0.04870001530154722,
 0.04870001530154722,
 0.04868404546498024,
 0.0485094078566458,
 0.0485094078566458,
 0.0485094078566458,
 0.048485738956550894,
 0.048485738956550894,
 0.048485738956550894,
 0.048401489129292964,
 0.048401489129292964,
 0.048289836179825546,
 0.048192771084337345,
 0.048192771084337345,
 0.048192771084337345,
 0.048192771084337345,
 0.048192771084337345,
 0.04816054589110889,
 0.04813481222862981,
 0.04795073961469466,
 0.047950739614694655,
 0.04790505047653036,
 0.04790505047653036,
 0.04776876271679272,
 0.04776876271679272,
 0.0476926101815305,
 0.04762242234337906,
 0.04762242234337906,
 0.04762242234337906,
 0.04752931878933585,
 0.04752931878933585,
 0.04746881040224541,
 0.04741093923119844,
 0.04741093923119844,
 0.04741093923119844,
 0.047406025925912317,
 0.04734473821324611,
 0.04734473821324611,
 0.04734473821324611,
 0.04734473821324611,
 0.04728866246430935,
 0.04728368759054206,
 0.04728368759054205,
 0.04725662968412568,
 0.04723501677209464,
 0.04711055010839436,
 0.04707185560485666,
 0.04706103821861596,

In [57]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse = True, key = lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
    
    return

In [62]:
recommend('Batman Begins')

Synecdoche, New York
Copying Beethoven
The Shipping News
Sexy Beast
Batman

In [229]:
import pickle

In [230]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [231]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [232]:
pickle.dump(similarity,open('similarity.pkl','wb'))